// MAPS / FUNCTION
$colors: (
    'accent-color': #626CA9,
    'primary-text-color': #212121,
    'secondary-text-color': #747474,
    'white-color': #FFFFFF,
    'primary-background-color': #FFFFFF,
    'secondary-background-color': #F9F9F9,
    'third-background-color': #E5E5E5,
    'footer-background-color': #ECEDF1,
    'customer-logo-fill': #B1B1B1,
);

        @function getColor($key) {
            @return map-get($colors, $key);
        };

$layouts: (
    'card-radius': 17px,
);

        @function getLayouts($key) {
            @return map-get($layouts, $key);
        };

$customers__logo: (
    'clients__adobe': #FA0C00,
    'clients__airbnb': #FF5A5F,
    'clients__spotify': #1ED760,
    'clients__discord': #23272A,
    'clients__amazon-name': #000000,
    'clients__amazon-arrow': #FF9900,
    'clients__dropbox-name': #000000,
    'clients__dropbox-box': #0061FF,
);

        @function getCustomers-logo($key) {
            @return map-get($customers-logo, $key)
        };

$specialization__items-background-color: (
    'specialization__desktop-apps': #ECF1FF,
    'specialization__mobile-apps': #F2EDEA,
    'specialization__design-solutions': #F3FBFF,
);

        @function getSpecialization__background-color($key) {
            @return map-get($specialization-items-background-color, $key)
        };

$specialization__image-padding: (
    'specialization__desktop-image': 11%,
    'specialization__mobile-image': 24%,
    'specialization__design-solutions-image': 18%,
);

        @function getSpecialization__image-widths($key) {
            @return getMap($specialization__image-widths, $key)
        };


// EXTEND
.accent-button-style {
    background-color: getColor('accent-color');
    border-color: getColor('accent-color');
    border-radius: 100px;
    border: none;
    color: getColor('white-color');
}

// MIXINS
@mixin background-blur {
    background: rgba(98, 108, 169, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 27px;
}

@mixin contacts-styles ($color) {
    
}


