// MAPS / FUNCTION / VARIABLES
$card-gap: 30px;
$transition-time: 250ms;
$transition-time-function: cubic-bezier(0.4, 0, 0.2, 1);

$colors: (
    'accent-color': #626CA9,
    'primary-text-color': #212121,
    'secondary-text-color': #747474,
    'white-color': #FFFFFF,
    'primary-background-color': #FFFFFF,
    'secondary-background-color': #F9F9F9,
    'third-background-color': #E5E5E5,
    'footer-background-color': #ECEDF1,
    'customer-logo-fill': #B1B1B1,
);

        @function getColor($key) {
            @return map-get($colors, $key);
        };

$layouts: (
    'card-radius': 17px,
);

@function getLayouts($key) {
    @return map-get($layouts, $key);
};

$customers__logo: (
    'clients__adobe': #FA0C00,
    'clients__airbnb': #FF5A5F,
    'clients__spotify': #1ED760,
    'clients__discord': #23272A,
    'clients__amazon-name': #000000,
    'clients__amazon-arrow': #FF9900,
    'clients__dropbox-name': #000000,
    'clients__dropbox-box': #0061FF,
);

@function getCustomers-logo($key) {
    @return map-get($customers-logo, $key)
};

$specialization__items-background-color: (
    'specialization__desktop-apps': #ECF1FF,
    'specialization__mobile-apps': #F2EDEA,
    'specialization__design-solutions': #F3FBFF,
);

@function getSpecialization__background-color($key) {
    @return map-get($specialization-items-background-color, $key)
};

$specialization__image-padding: (
    'specialization__desktop-image': 11%,
    'specialization__mobile-image': 24%,
    'specialization__design-solutions-image': 18%,
);

@function getSpecialization__image-widths($key) {
    @return getMap($specialization__image-widths, $key)
};

$client__position-change-tablet: (
    'adobe': 1,
    'airbnb': 2,
    'spotify': 4,
    'discord': 3,
    'amazon': 5,
    'dropbox': 6,
);

@function getclient__position-change-tablet($key) {
    @return getMap($client__position-change-tablet, $key)
};

$client__position-change-desktop: (
    'adobe': 1,
    'airbnb': 3,
    'spotify': 6,
    'discord': 2,
    'amazon': 5,
    'dropbox': 4,
);

@function getclient__position-change-desktop($key) {
    @return getMap($client__position-change-desktop, $key)
};

$client__logo-width-desktop: (
    'adobe': 133px,
    'airbnb': 128px,
    'spotify': 140px,
    'discord': 171px,
    'amazon': 110px,
    'dropbox': 171px,
);

@function getclient__logo-width-desktop($key) {
    @return getMap($client__logo-width-desktop, $key)
};

$desktop__section-order: (
    'header__section': 1,
    'hero__section': 2,
    'clients__logo-section': 3,
    'project-stages__section': 5,
    'specialization__section': 4,
    'studio-portfolio__section': 6,
    'our-team__section': 7,
    'stay-tuned__section': 8,
    'footer__section': 9,
);

@function getdesktop__section-order($key) {
    @return getMap($desktop__section-order, $key)
};

// EXTEND
.accent-button-style {
    background-color: getColor('accent-color');
    border-color: getColor('accent-color');
    border-radius: 100px;
    border: none;
    color: getColor('white-color');
}

// MIXINS
@mixin background-blur {
    background: rgba(98, 108, 169, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 27px;
}

@mixin contacts-styles ($color) {
    
}


