@import '../utilities/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20/14);
    letter-spacing: -0.2px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
