@import '../utilities/variables';


.hero__button {
    background: getColor('white-color');
    border-radius: 100px;
    color: getColor('accent-color');
    padding: 8px 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.project-stages__button {
    @extend .accent-button-style;
}

