@import '../utilities/variables';

.clients__logo-section {
    background-color: getColor('primary-background-color');
    padding-bottom: 30px;
    padding-top: 28px;
}

.clients__logo-container {
    min-width: 290px;
    display: flex;
    justify-content: center;
}

.clients__logo-list {
    min-width: 171px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clients__logo-list-item {
    min-width: 171px;
    display: flex;
    justify-content: center;

    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.amazon__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.clients__amazon-arrow-logo {
    margin-left: 16px;
}

.clients__logo-list-item {

    &:hover,
    &:focus {
        @each $i in $customers__logo {
            .#{nth($i,1)}-logo {
                fill: nth($i, 2);

            }
        }
    }
}

.clients__logo-list-link-icon {
    background-color: getColor('primary-background-color');
    fill: getColor('customer-logo-fill');
}