@import '../utilities/variables';

.footer__section {
    background-color: getColor('footer-background-color');
    padding: 40px 0;
}

.footer__container {
    padding: 0 15px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer__nav-list {
    display: flex;
    justify-content: center;
}

.footer__nav-list-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.footer__nav-list-item-link {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20/12);
    color: getColor('accent-color');
}

.footer__contacts-list-item-link {
    font-size: 12px;
    line-height: calc(20/12);
    color: getColor('accent-color');
}