@import '../utilities/variables';

.footer__section {
    background-color: getColor('footer-background-color');
    padding: 40px 0;
}

.footer__container {
    padding: 0 15px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer__nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer__nav-list-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.footer__nav-list-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    color: getColor('primary-text-color');

        &:hover,
        &:focus {
            color: getColor('accent-color');
        }
}

@media screen and (min-width: 480px) {
    .footer__container {
        max-width: 480px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

@media screen and (min-width: 768px) {
    .footer__container {
        max-width: 768px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
    }

    .footer__logo {
        justify-content: flex-start;
    }

    .footer__nav-list {
        justify-content: flex-start;
    }

}
