@import '../utilities/variables';

.header__section {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px; 
    padding-right: 15px;
    display: flex;
    order: 6;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 480px) {
    .header__container {
        max-width: 480px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

@media screen and (min-width: 768px) {
    .header__section {
        padding-right: 0;
        padding-left: 0;
    }

    .header__container {
        max-width: 768px;   
    }
}

@media screen and (min-width: 1200px) {
    .header__section {
        padding: 38px 0;
    }

    .header__container {
        max-width: 1200px;
        justify-content: space-between;
    }
}