@import '../utilities/variables';

.hero__section {
    background-color: #D8DDFF;
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
        url('../images/studio/hero-bg-mobile.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 86px;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
                url('../images/studio/hero-bg-mobile-2x.jpg');
        }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
            url('../images/studio/hero-bg-tablet.jpg');

        @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
                url('../images/studio/hero-bg-tablet-2x.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
            url('../images/studio/hero-bg-desktop.jpg');
        height: 548px;


        @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
                url('../images/studio/hero-bg-desktop-2x.jpg');
        }
    }
}

.hero__text-container {
    background: rgba(98, 108, 169, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 27px;
    color: getColor('white-color');
    width: 75%;
    padding: 20px 20px;
}

.hero__title-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: calc(33/22);
    text-transform: capitalize;
    margin-bottom: 10px;
}

.hero__body-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(21/14);
    margin-bottom: 25px;
}

@media screen and (min-width: 480px) {
    .hero__section {
        padding-top: 140px;
    }

    .hero__container {
        max-width: 480px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .hero__text-container {
        min-width: 360px;
    }

    .hero__body-text {
        width: 286px;
    }
}

@media screen and (min-width: 768px) {
    .hero__container {
        max-width: 768px;
    }

    .hero__text-container {
        padding: 30px 30px;
        width: 455px;
    }

    .hero__title-text {
        font-size: 26px;
        line-height: calc(39/26);
        width: 378px;
    }

    .hero__body-text {
        font-size: 16px;
        line-height: calc(24/16);
        width: 395px;
    }
}

@media screen and (min-width: 1200px) {
    .hero__section {
        padding: 156px 0 72px 0;
    }

    .hero__container {
        max-width: 1200px;   
    }

    .hero__text-container {
        width: 590px;
    }

    .hero__title-text {
        font-size: 36px;
        line-height: calc(46/36);
        width: 530px;
        margin-bottom: 30px;
    }

    .hero__body-text {
        margin-bottom: 35px;
    }
}

