@import '../utilities/variables';

.hero__section {
    background-color: #D8DDFF;
    background-image: linear-gradient(69.43deg, rgba(59, 8, 85, 0.2) 47.94%, rgba(135, 111, 173, 0) 79.74%),
        url('../images/studio/hero-bg-mobile.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: relative;

    // @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    //                 rgba(47, 48, 58, 0.4)),
    //             url(../images/studio/hero-bg-mobile-2x.jpg);
    //     }
    
    // @media screen and (min-width: 480px) {
    //     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    //             rgba(47, 48, 58, 0.4)),
    //         url(../images/studio/hero-bg-tablet.jpg);

    //     @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    //                 rgba(47, 48, 58, 0.4)),
    //             url(../images/studio/hero-bg-tablet-2x.jpg);
    //     }
    // }
    
    // @media screen and (min-width: 768px) and (max-width: 1200px) {
    //     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    //             rgba(47, 48, 58, 0.4)),
    //         url(../images/studio/hero-bg-desktop.jpg);

    //     @media screen and (min-width: 768px)and (max-width: 1200px) and (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    //                 rgba(47, 48, 58, 0.4)),
    //             url(../images/studio/hero-bg-desktop-2x.jpg);
    //     }
    // }
}


.hero__text-container {
    background: rgba(98, 108, 169, 0.4);
    backdrop-filter: blur(8px);
    border-radius: 27px;
    color: getColor('white-color');
    position: absolute;
    bottom: 52px;
    width: 75%;
}

.hero__title-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(29/18);
    text-transform: capitalize;
    padding: 20px 20px 10px 20px;
    max-width: 300px;
}

.hero__body-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: calc(17/10);
    padding: 0 54px 25px 20px;
    max-width: 280px;
}

