@import '../utilities/variables';

.project-stages__section {
    padding: 40px 0;
    background-color: getColor('secondary-background-color');
}

.project-stages__list-item {
    background-color: getColor('white-color');
    border-radius: getLayouts('card-radius');
    padding: 30px;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.project-stages__list-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    color: getColor('primary-text-color');
    margin-bottom: 10px;
}

.project-stages__list-item-description {
    font-size: 14px;
    line-height: calc(20/14);
    letter-spacing: -0.2px;
    color: getColor('secondary-text-color');
}

.project-stages__list-item-icon {
    fill: getColor('accent-color');
    margin-bottom: 46px;
}

@media screen and (min-width: 480px) {
    .project-stages__container {
        max-width: 480px;
        padding: 0 15px;
    }
}

@media screen and (min-width: 768px) {
    .project-stages__section {
        padding: 40px 0;
    }

    .project-stages__container {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .project-stages__title-container {
        display: flex;
        flex-direction: column;
        order: 1;
        width: 357px;
    }

    .project-stages__list {
        display: flex;
        flex-wrap: wrap;
        order: 3;
    }

    .project-stages__list-item {
        width: 354px;

        &:not(:last-child) {
            margin-bottom: 0;
        }

        &:nth-child(2n + 1) {
            margin-right: 30px;
        }

        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
    }
}