@import '../utilities/variables';

.project-stages__section {
    padding: 40px 0;
    background-color: getColor('secondary-background-color');
}

.project-stages__primary-title {
    font-size: 10px;
    line-height: calc(13/10);
    color: getColor('primary-text-color');
}

.project-stages__secondary-title {
    font-weight: 600;
    font-size: 23px;
    line-height: calc(36/23);
    text-transform: capitalize;
    color: getColor('primary-text-color');
}

.project-stages__list-item {
    background-color: getColor('white-color');
    border-radius: 17px;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.project-stages__list-item-title {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(20/12);
    align-items: flex-end;
    color: getColor('primary-text-color');
    padding-left: 15px;
    margin-bottom: 10px;
}

.project-stages__list-item-description {
    font-size: 10px;
    line-height: calc(16/10);
    letter-spacing: -0.2px;
    color: getColor('secondary-text-color');
    padding-left: 15px;
    padding-bottom: 15px;
}

.project-stages__list-item-icon {
    fill: getColor('accent-color');
    margin-bottom: 36px;
    margin-top: 15px;
    margin-left: 15px;
}



.project-stages__button-icon {
    fill: getColor('white-color');
    border: 1.3px solid getColor('white-color');
}