@import '../utilities/variables';

.stay-tuned__section {
    background-color: getColor('primary-background-color');
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.stay-tuned__container {
    background-image: url('../images/studio/stay-tuned-laptop-bg-mobile.jpg');
    height: 573px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 17px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurr__container {
    @include background-blur;
    padding: 30px;
}

.stay-tuned__subscribe-container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.stay-tuned__title {
    font-weight: 500;
    font-size: 21px;
    line-height: calc(32/21);
    text-transform: capitalize; 
    color: getColor('white-color');
    margin-bottom: 15px;
    min-width: 165px;
}

.stay-tuned__body-text {
    font-size: 16px;
    line-height: calc(24/16);
    color: getColor('white-color');
    margin-bottom: 33px;
}

.stay-tuned__contacts-social-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 225px;
}

@media screen and (min-width: 480px) {
    .stay-tuned__section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .stay-tuned__container {
        max-width: 480px;
        padding: 40px;
    }

    .stay-tuned__subscribe-container {
        max-width: 370px;
    }

    .stay-tuned__contacts-social-container {
        min-width: 244px;
    }
}




