@import '../utilities/variables';

.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    text-transform: capitalize;
    color: getColor('primarytextcolor');
}