@import '../utilities/variables';

.social__list {
    display: flex;
}

.social__list-item-link {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: getColor('white-color');
    border-radius: 100px;
    padding: 9px;

    &:hover,
    &:focus {
        background-color: getColor('accent-color');
        fill: getColor('white-color');
    }
}

// COMBINED SECTION SOCIAL STYLES
.our-team__social-list-item,
.footer__social-list-item {
    &:not(:last-child) {
        margin-right: 15px;
    }
}

// STAY TUNED SOCIAL LIST
.stay-tuned__social-list-item {
    &:not(:last-child) {
        margin-right: 11px;
    }
}

// FOOTER SOCIAL LIST
.footer__social-list {
    justify-content: center;
}

// MEDIA QUERIES
@media screen and (min-width: 480px) {
    .our-team__social-list-item-link ,
    .stay-tuned__social-list-item-link {
        width: 38px;
        height: 38px;
    }

    .footer__social-list-item-link {
        width: 44px;
        height: 44px;
    }
}