@import '../utilities/variables';

.primary-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(21/14);
    color: getColor('primary-text-color');
}

.secondary-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: calc(40/27);
    color: getColor('primary-text-color');
}

.sub-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    display: flex;
    align-items: flex-end;
    color: getColor('primary-text-color');
}